@import "./layout/fonts";
@import "./layout/normalize";
@import "./layout/base";

/*block*/

$orange: #e45028;
$orange-text: #f9b43b;

@import "./blocks/section";
@import "./blocks/hero";
@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/menu";
@import "./blocks/button";
@import "./blocks/banner";
@import "./blocks/pagination";
@import "./blocks/scroll-down-btn";