@import "./layout/fonts";
@import "./layout/normalize";
@import "./layout/base";

/*block*/

$orange: #e45028;
$orange-text: #f9b43b;
$black: #2f3234;

$z-index-pagination: 100;

@import "./blocks/section";
@import "./blocks/hero";
@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/menu";
@import "./blocks/button";
@import "./blocks/banner";
@import "./blocks/title";
@import "./blocks/pagination";
@import "./blocks/scroll-down-btn";
@import "./blocks/best";
@import "./blocks/reviews";