.banner {
  display: flex;
  align-items: center;
  flex: 0.775;
}

.banner__avatar {
  // width: 48%;
}

.banner__img {
  position: relative;
  max-width: 400px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 451px;
    height: 241px;
    left: -30px;
    top: 65px;
    background: url(../../img/decor/drops.png) center center no-repeat;
    transform: scale(.95);
  }
}

.banner__info {
  padding-top: 92px;
  margin-left: 20px;
}

.banner__title {
  margin-bottom: 45px;

  font-family: gagalin_regular;
  font-size: 72px;
  color: $orange-text;
  line-height: 1;
}

.banner__desc {
  color: #fff;
  font-size: 55px;
  font-family: lifehack_medium;
  line-height: 1;
}