.best {
  background: url(../../img/bg/best.jpg) center center / cover no-repeat;
}

.best__list {
  display: flex;
}

.best__item {
  flex: 1;
  margin-right: 35px;
  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.best__img {
  display: inline-block;
  margin-bottom: 13px;
}

.best__img-pic {
  display: block;
  max-width: 100%;
}

.best__title {
  margin-bottom: 10px;
  font-family: lifehack_medium;
  font-size: 24px;
  color: $black;
}

.best__desc p {
  font-family: ubuntu_light;
}