.button {
  height: 35px;
  line-height: 35px;
  padding: 0 16px;

  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: ubuntu_medium;
  border-radius: 3px;
  background: $orange;
  border: none;
  outline: none;

  transition: background-color .3s;

  &:hover {
    background: darken($orange, 5%);
  }
}