.menu {
  margin-right: 15px;
}

.menu__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    
    border-radius: 50%;
    background: #fff;
  }

  &:last-child {
    margin-right: 0;
  }

  &:first-child:before {
    display: none;
  }
}

.menu__link {
  display: block;

  font-family: ubuntu_medium;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
}