.pagination {
  position: absolute;
  top: 200px;
  right: 100px;
}

.pagination__item {
  margin-bottom: 10px;
}
.pagination__item:hover {
  margin-bottom: 0;
}

.pagination__item--active .pagination__link {
  border-color: #fff;
}

.pagination__link {
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  transition: border-color 3s;
}
.pagination__link:before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #fff;
}