.title {
  margin-bottom: 50px;

  font-family: gagalin_regular;
  font-size: 72px;
  color: $orange-text;
  line-height: 1;
}

.title--color--black {
  color: $black;
}

.title--centered {
  text-align: center;
}